includes:
    - ../../phpstan.dist.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:(.*)$#'
