parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var for variable \\$params has no value type specified in iterable type array\\.$#"
			count: 1
			path: config/common/di/application-parameters.php

		-
			message: "#^PHPDoc tag @var for variable \\$params has no value type specified in iterable type array\\.$#"
			count: 1
			path: config/common/di/i18n.php

		-
			message: "#^PHPDoc tag @var for variable \\$params has no value type specified in iterable type array\\.$#"
			count: 1
			path: config/common/di/logger.php

		-
			message: "#^PHPDoc tag @var for variable \\$params has no value type specified in iterable type array\\.$#"
			count: 1
			path: config/common/di/translator.php

		-
			message: "#^Call to an undefined method object\\:\\:withMiddlewares\\(\\)\\.$#"
			count: 1
			path: config/web/di/application.php

		-
			message: "#^PHPDoc tag @var for variable \\$params has no value type specified in iterable type array\\.$#"
			count: 1
			path: config/web/di/application.php

		-
			message: "#^Property App\\\\Asset\\\\AppAsset\\:\\:\\$css type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Asset/AppAsset.php
