parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''charset'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: config/common/di/application.php

		-
			message: '#^Cannot access offset ''locale'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: config/common/di/application.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: config/common/di/application.php

		-
			message: '#^PHPDoc tag @var for variable \$params has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/common/di/application.php

		-
			message: '#^PHPDoc tag @var for variable \$params has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/common/di/error-handler.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/common/di/error-handler.php

		-
			message: '#^PHPDoc tag @var for variable \$params has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/common/di/logger.php

		-
			message: '#^Parameter \#1 \.\.\.\$routes of method Yiisoft\\Router\\RouteCollector\:\:addRoute\(\) expects Yiisoft\\Router\\Group\|Yiisoft\\Router\\Route, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/common/di/router.php

		-
			message: '#^PHPDoc tag @var for variable \$params has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/web/di/application.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Environment.php

		-
			message: '#^Property App\\Environment\:\:\$values type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Environment.php

		-
			message: '#^Static method App\\Environment\:\:setInteger\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Environment.php

		-
			message: '#^Static method App\\Environment\:\:setString\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Environment.php

		-
			message: '#^Strict comparison using \=\=\= between null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Environment.php

		-
			message: '#^Property App\\Web\\Shared\\Layout\\Main\\MainAsset\:\:\$css type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Web/Shared/Layout/Main/MainAsset.php
