parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method createProgressBar\(\) on Symfony\\Component\\Console\\Style\\SymfonyStyle\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Console/ReindexCommand.php
